.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header_h2{
    transform: scale(0.5);
    width: 10px;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar li{
    font-family: "poppins";
    font-weight: 600;
}

.contador{
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 100px;
}